@import './var.scss';
@import './transition.scss';

html, body, ul, li, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

.j-icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
}
button{
  outline: none;
  cursor: pointer;
  border: $--border-width-default $--border-style-default $--border-color-default;
  line-height: $--font-line-height-default;
  color: $--color-text-default;
  box-sizing: border-box;
}
 li{
  list-style-type: none;
}
// flex布局垂直居中, 水平居中/两端对齐/每个项目两侧的间隔相等
@mixin flexCenter($type) {
  box-sizing: border-box;
  display: flex;
  justify-content: $type;
  align-items: center;
}
// 绝对定位垂直居中
@mixin absVerCenter{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
// 绝对定位水平居中
@mixin absHorCenter{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin transition($type, $time, $speed: ease-in-out) {
  transition: $type $time $speed;
}

@mixin absoluteBox ($pos) {
  position: absolute;
  width: 100%;
  #{$pos}: 0;
}

@mixin fullScreen ($pos,$zIndex: 1) {
  position: $pos;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $zIndex;
}

// 遮罩层
@mixin fullMask ($opacity: 0.5) {
  @include fullScreen(absolute, 0);
  opacity: $opacity;
  background-color: $--color-black;
}