@import './var.scss';

html, body, ul, li, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

.j-icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
}
button{
  outline: none;
  cursor: pointer;
  border: $--border-width-default $--border-style-default $--border-color-default;
  line-height: $--font-line-height-default;
  color: $--color-text-default;
  box-sizing: border-box;
}
 li{
  list-style-type: none;
}
@mixin flex-center($type) {
  box-sizing: border-box;
  display: flex;
  justify-content: $type;
  align-items: center;
}